body {
    padding: 0;
    margin: 0;
    background-color: #000002;
    font-family: 'Playfair Display', serif;
    color: #fff;
}

.page-footer {
    background-color: black;
}

.main-quotes {
    background-color: #000002;
}

.first-section {
    padding: 50px 0 20px 0;
}

.text-header {
    font-size: 50px;
    text-align: center;
}

h1 {
    line-height: 120%;
    margin-bottom: 30px;
}

p {
    color: #ede0d5;
    font-size: 18px;
    line-height: 150%;
}

#main-banner {
    height: 1080px;
    overflow: hidden;
    position: relative;
}

.footer-copyright {
    padding-top: 30px;
    padding-bottom: 10px;
}

.fade {
    opacity: 0;
    -webkit-transform: translate(0, 50px);
    -moz-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    transform: translate(0, 50px);
    -webkit-transition: opacity .6s .1s, transform .6s ease;
    transition: opacity .6s .1s, transform .6s ease;
    transition-delay: 0ms;
}

.fade-in-view {
    opacity: 1!important;
    -webkit-transform: translate(0, 0)!important;
    -moz-transform: translate(0, 0)!important;
    -ms-transform: translate(0, 0)!important;
    transform: translate(0, 0)!important;
}

.layer {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 1080px;
    position: fixed;
    width: 100%;
    z-index: -1;
}

.navbar {
    margin-bottom: 0;
    border: none;
}

@media (max-width: 768px) {
    nav.navbar {
        background: transparent;
    }
    .navbar-toggle {
        border: none;
    }
    .navbar-collapse {
        background-color: #000002;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

#main-banner__mobile {
    display: none;
    background: url("layers/full-small.png") no-repeat center top/cover;
    height: 812px;
}

h1 {
    line-height: 120%;
    margin-bottom: 30px;
}

p {
    color: #ede0d5;
    font-size: 18px;
    line-height: 150%;
}

.layer-12 {
    background-image: url("layers/layer2/layer12.png");
}

.layer-11 {
    background-image: url("layers/layer2/layer11.png");
}

.layer-10 {
    background-image: url("layers/layer2/layer1.png");
}

.layer-9 {
    background-image: url("layers/layer2/layer2.png");
}

.layer-8 {
    background-image: url("layers/layer2/layer3.png");
}

.layer-7 {
    background-image: url("layers/layer2/layer4.png");
}

.layer-6 {
    background-image: url("layers/layer2/layer5.png");
}

.layer-5 {
    background-image: url("layers/layer2/layer6.png");
}

.layer-4 {
    background-image: url("layers/layer2/layer7.png");
}

.layer-3 {
    background-image: url("layers/layer2/layer8.png");
}

.layer-2 {
    background-image: url("layers/layer2/layer9.png");
}

.layer-1 {
    background-image: url("layers/layer10.png");
}

@media only screen and (max-width: 768px) {
    #main-banner {
        display: none;
    }
    #main-banner__mobile {
        display: block;
    }
}

@media only screen and (min-width: 1024px) {
    #main-banner {
        height: 550px;
    }
}

@media only screen and (min-width: 1440px) {
    #main-banner {
        height: 800px;
    }
}

@media only screen and (min-width: 1920px) {
    #main-banner {
        height: 1100px;
    }
}

@media only screen and (min-width: 2560px) {
    #main-banner {
        height: 1080px;
    }
}


/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.main-timeline__header {
    padding: 100px 0;
}

.main-timeline__header-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.main-timeline__header h1 {
    font-size: 2.5rem;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline-details {
    font-size: 1.6rem;
}

.timeline-details time {
    font-size: 1.8rem;
    color: white;
}

.timeline-details p {
    color: black;
}

.main-timeline {
    background-image: url("images/wreckage.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-timeline__list ul {
    padding: 50px 0;
}

.main-timeline__list ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
}

.main-timeline__list ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
}

.main-timeline__list ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #ef9857;
}

.main-timeline__list ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.main-timeline__list ul li:nth-child(odd) div {
    left: 45px;
}

.main-timeline__list ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #ef9857 transparent transparent;
}

.main-timeline__list ul li:nth-child(even) div {
    left: -439px;
}

.main-timeline__list ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #ef9857;
}

time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.main-timeline__list ul li::after {
    transition: background .5s ease-in-out;
}

.main-timeline__list ul li.in-view::after {
    background: #ef9857;
}

.main-timeline__list ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.main-timeline__list ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.main-timeline__list ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.main-timeline__list ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
    .main-timeline__list ul li div {
        width: 250px;
    }
    .main-timeline__list ul li:nth-child(even) div {
        left: -289px;
        /*250+45-6*/
    }
}

@media screen and (max-width: 600px) {
    .main-timeline__list ul li {
        margin-left: 20px;
    }
    .main-timeline__list ul li div {
        width: calc(100vw - 91px);
    }
    .main-timeline__list ul li:nth-child(even) div {
        left: 45px;
    }
    .main-timeline__list ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #ef9857 transparent transparent;
    }
}